* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

img {
    display: block;
    border: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

    a:hover {
        color: red;
    }

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

heml .hide {
    display: none;
}
